DATABASE_URL=mysql+pymysql://pneumo:pneumo123@127.0.0.1:3307/pneumoscan
JWT_SECRET=changeme
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=1440
OPENAI_API_KEY=your-key-here
IRIS_HOST=127.0.0.1
IRIS_PORT=52773
IRIS_NATIVE_PORT=1972
IRIS_USER=_SYSTEM
IRIS_PASSWORD=SYS
IRIS_NAMESPACE=USER
IRIS_FHIR_BASE=http://127.0.0.1:52773/fhir/r4